awscli==1.10.35
bcrypt==2.0.0
beautifulsoup4==4.4.1
boto==2.40.0
botocore==1.4.25
cffi==1.6.0
colorama==0.3.3
docutils==0.12
dxpy==0.191.0
flasgger==0.5.12
Flask==0.10.1
Flask-Autodoc==0.1.2
Flask-Cors==2.1.2
Flask-JWT==0.3.2
flask-swagger==0.2.12
fusepy==2.0.2
futures==3.0.4
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
jsonschema==2.5.1
MarkupSafe==0.23
mistune==0.7.2
pbr==1.8.1
psutil==3.3.0
pyasn1==0.1.9
pycparser==2.14
PyJWT==1.4.0
python-dateutil==2.3
python-magic==0.4.6
PyYAML==3.11
requests==2.7.0
rsa==3.4.2
ruamel.ordereddict==0.4.9
ruamel.yaml==0.11.11
s3transfer==0.0.1
six==1.10.0
stevedore==1.10.0
virtualenv==13.1.2
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
Werkzeug==0.11.5
ws4py==0.3.2
xattr==0.6.4

